<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<div id='map'></div>
<script>

var dataRef = new Firebase("https://taiapp.firebaseio.com/datos");
    var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
    .setView([43.2694155, -2.9613963], 16);
    dataRef.on('child_added', function(snapshot) {
      var datos = snapshot;
      marker = L.marker(new L.LatLng(datos.val().lat, datos.val().lon), {
        icon: L.mapbox.marker.icon({'marker-color': datos.val().color}),
        draggable: true
      });
      marker.bindPopup('numero');
      marker.addTo(map);

      // var marker = [];
      // var datos = snapshot.val();
      // for( var dat in datos){
      //     marker = L.marker(new L.LatLng(datos[dat].lat, datos[dat].lon), {
      //       icon: L.mapbox.marker.icon({'marker-color': datos[dat].color}),
      //       draggable: true
      //   });
      //   marker.bindPopup('numero');
      //   marker.addTo(map);

      //       console.log(datos[dat].color);
      // }
});
</script>
</body>
</html>
