
.bt1, .bt2, .bt3, .texto-area {
	margin: 0 auto;
}

.bt1 {
	background-color: red;
}

.bt2 {
	background-color: #FF530D;
}

.bt3 {
	background-color: #FFA10D;
}

.btn-wrapper {
text-align: center;
margin: 25px;
}

.texto-area {
margin: 0 auto;
text-align: center;
}

#header {
	height: 50px;
	background-color: #fff;
}


